@font-face {
  font-family: 'icomoon';
  src:  url('fontsUser/icomoon.eot?94794l');
  src:  url('fontsUser/icomoon.eot?94794l#iefix') format('embedded-opentype'),
    url('fontsUser/icomoon.ttf?94794l') format('truetype'),
    url('fontsUser/icomoon.woff?94794l') format('woff'),
    url('fontsUser/icomoon.svg?94794l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
