@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?fl0zui");
    src: url("fonts/icomoon.eot?fl0zui#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?fl0zui") format("truetype"),
        url("fonts/icomoon.woff?fl0zui") format("woff"),
        url("fonts/icomoon.svg?fl0zui#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.min-h {
    min-height: 15em;
}

@media screen and (min-width: 576px) {
    .min-h {
        min-height: 40em;
    }
}

#logo {
    max-height: 4em;
    max-width: auto;
}

#heading a,
#heading a:visited,
ul.navbar-nav li a,
ul.navbar-nav li a:visited {
    color: #ccc !important;
    font-size: 1.2em;
}

#heading a:hover,
#heading a:active,
ul.navbar-nav li a:hover,
ul.navbar-nav li a:active,
ul.navbar-nav li.active a,
footer nav ul.nav li a {
    color: #fff !important;
}

#heading a {
    font-size: 0.7em;
}

footer nav ul.nav li a:hover,
footer nav ul.nav li a:active,
footer nav ul.nav li.active a {
    color: #007bff !important;
}

#toTop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    z-index: 99;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: #dc3545;
}

#toTop:hover {
    color: #dc3545;
    background-color: #fff;
}

.cart-icon {
    top: 42px;
    right: 15px;
}

.cart-icon a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #ffc107 !important;
    width: 20px;
}

.cart-icon a:hover {
    font-size: 1.2em;
}

.cart-icon a #cart-count {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -13px;
    margin-top: -13px;
    font-size: 17px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    text-align: center;
    color: #fff;
    background: #2f8f8a;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-arrow-up:before {
    content: "\f062";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-phone:before {
    content: "\f095";
}
.icon-bars:before {
    content: "\f0c9";
}
.icon-navicon:before {
    content: "\f0c9";
}
.icon-reorder:before {
    content: "\f0c9";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-instagram:before {
    content: "\f16d";
}
